body {
  text-align: center;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
font-family: Helvetica;
font-size: 32px;
font-weight: bold;
}

h3 {
  font-family:Helvetica;
  font-size:23px;
  font-weight: bold;
}

.h3white {
  background-image: url('/Users/silvia/git_practice/silviaalexe.github.io/resources2/photos/the-flatiron-building.png');
  image-orientation: center;
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-repeat: no-repeat;
}

.broadwaybgimg {
  background-image: url('/Users/silvia/git_practice/silviaalexe.github.io/resources2/photos/the-flatiron-building.png');
  vertical-align: middle;
}

  }
.footer {
  font-family: Helvetica;
  font-size:11px;
  color: black;
}

.footerp {
  font-family: Helvetica;
  font-size:11px;
  color: white;
  background-color: dimgrey;
}

ul {
  list-style-type: none;
}
li, a{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  text-align:center;
}

p {
  font-family: Helvetica;
  font-size:
}
