header {
  font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    color: black;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    border-bottom: 1px solid black;
    height: 80px;
    width: 100%;
    background-color: white;
    padding-right: 40px;
}
nav {
  display: inline;
  align-items: center;
  cursor: auto;
  color: black;
  padding-right: 40px;
}

nav a {
  text-decoration: underline;
  text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-size-adjust: 100%;
    color: black;
    cursor: auto;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}

nav span {
  padding: 20px 10px;
  text-decoration: underline;
}
.logo span {
  padding: 20px 10px;
}
.logo {
display: flex;
align-items: center;
flex-grow: 1;
padding-left: 30px;
color: mediumaquamarine;
border: 1px solid black;

}
.maincontainer {
  display: flex;
  border: 3px solid black;
}

.columnlarge {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-right: 20px;
  margin-top:100px;
  width: 630px;
}

.columnmedium {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top:100px;
  margin-right: 20px;
   width: 300px;
}

.columnsmall {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top:100px;
  margin-left: 20px;
  width: 240px;
}

.mainstory .image-content {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  font-family: Georgia;
  width: 630px;
  height: 300px;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  color: white;
  border:1px solid black;

}

.storytext {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.stories {
  display: block;
  border:1px solid black;
}

.story {
  display: block;
  border: 1px solid black;
}
.text-content {
  display: block;
  border:1px solid black;
}
.earth-flat.image-content{
  border:1px solid black;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  font-family: Georgia;
  margin-top: 15px;
  height: 300px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.camera.image-content {
  border:1px solid black;
  height: 300px;
    margin-top: 15px;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.cat.image-content {
  border:1px solid black;
  height: 300px;
    margin-top: 15px;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}



h2, h3 {
  display: block;
    font-size: 1.5em;
  font-family: Georgia;
  font-weight: bold;
  color: black;
  text-align: center;
}
