body {
display: block;
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  background-color: black;
  opacity:0.9;
  text-align: center;
  align-items: center;
   width: 1300px;
}

header {
display: flex;
position: fixed;
align-items: center;
justify-content: space-between;
z-index: 1;
height: 69px;
border-bottom: 1px solid seashell;
z-index: 5;
background-color: black;
width: 100%;

}

.logo {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
  padding-bottom: 18px;

}

nav a {
  color: seashell;
  text-decoration: underline;
  padding: 10px;
  align-items: center;
}

nav {
  display: inline;
  cursor: auto;
  align-items: center;
  justify-content: space-between;

}


h2 {
font-size: 1.5em;
display: block;
color: seashell;
margin: 0px;
padding: 10px;
}

h4 {
margin: 0px;
padding: 10px;
color: seashell;

}
h5 {
  display:block;
  weight:bold;
}
.maincontainer {
  display: block;
  width: 1200px;

}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#mission {
padding-top: 70px;
height: 700px;
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
align-items: center;

}

#mission .content{
  background-color: black;
  width: 100%;
  margin: auto;
  align-items: center;
}
#featuredtea {
  padding-top: 70px;
  height: 700px;
  width: 1000px;


}

.flex-container .teas{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-content: center;

}

.tea img{
display: block;
  margin-bottom: 10px;
  height: 200px;
  width: 300px;

}

.tea span {
  display: block;
  font-weight: bold;
  text-align: center;
  padding: 5px;}

#locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  padding-top: 70px;
  height: 500px;
  align-items: center;
  display: block;


}

#locations .flex-container {
  margin: auto;
    width: 1100px;
}

.locations .flex-container {
  padding-top: 5px;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  align-items: center;

}


footer {
display: flex;
}

#teacozy {
  height: 200px;
  display: block;
}

.contact p {
  text-align:left;
  padding-right: 20px;
}

.copyright {
  font-weight: bold;
}
