html {
  font-size: 18px;
  font-family: Helvetica;
  height: 100%
}

body {
  display: block;
  flex-direction: column;
}

@media only screen and (max-width:470px) {}

h1 {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  padding-left:2rem;

}
 h2 {
   font-family: Helvetica;
   font-size: 0.77rem;
   font-weight: bold;
   padding-left:2rem;
 }
 .banner {
   height: 10rem;
 }
}

/*Header*/

.company {
  width: 100%;
  background-color: black;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.company .container {
  display: flex;
  align-items: center;
  padding: .66rem 0 .66rem 0.5rem;
}

.company img {
  height: 1.5rem;
  padding-right: 1rem;
}
/*Banner*/

.banner {
  display: block;
background-image:url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25em;
  }

.container-banner {
width: 960px;
margin: 0 auto;
display: block;
}




.heading {
  display: block;
  background-color: black;
  color: white;
  width: 20em;
  padding: 2em 3em;
  position: relative;
  top: 9em;
}

h2 {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding-top: 1em;
  padding-left: 1rem;
  padding-bottom: 0.25rem;

}

h1 {
  display: block;
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding-top: 0.50rem;
  padding-left: 1rem;

}

/*Navigation menu*/

nav {
  display: block;
  background-color: firebrick;
    color: white;
}

nav ul {
display: flex;
  align-items: center;
    justify-content: space-between;
    padding: 0.75em 0;
    list-style: none;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }
}


.container-nav {
  max-width: 960px;
  margin: 0 auto;
}

.li {
display: list-item;
text-align: center;
}

/*Main container*/

.main-container {
display: block;
width: 960px;
margin: 0 auto;
}

.items {
display: flex;
justify-content: space-between;
margin-top: 3em;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.item {
  width: 30%;

}

.items .details {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

@media screen only and (max-width: 1024px) {
  .item {
    width: 47%;
  }

  .item.glasses {
    display: none;
  }

}

@media screen only and (max-width: 470px) {
  .item {
    width: 90%;
    margin: auto;
  }
  .item.watch {
    display: none;
  }

  .banner {
    width: auto;
  }
  .items, .details {
    flex-wrap: wrap;
  }
}

.item-photo img {
  max-width: 8rem
}

.item-photo {
  height: 9rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    border-image: initial;
    padding: 2em 0px;
}



img {
  border-style: none;
}

.description {
display: block;
text-align: center;
align-items: center;
color: White;
background-color: black;
padding: 0.5rem;
}

.description span {
align-items: center;
}

/*Business details*/

.container-business {
  width: 960px;
  margin: 0 auto;
}

.details {
  display: flex;
  justify-content: space-between;
  margin:3em 0px 0px;
}

.detail {
  display: block;
  width: 35%;
}

@media screen only and (max-width: 1024px), (orientation: portrait) {
  .detail {
    width: 40%;
  }

}

.detail .location .hours {
  display: block;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}


.location {
  display: block;
background-color: black;
color: white;
  padding-left:2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.hours {
  display: block;
background-color: black;
color: white;
  padding-left:2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.gps {
  color: black;
}

/*Footer*/

footer {
  background-color: black;
    color: white;
  padding-top: 5em;
      padding-right: 0px;
      padding-bottom: 5em;
      padding-left: 0px;
      margin-top: 4em;
}

.footer-container {
  width: 960px;
  margin: 0 auto;
}
