/* Universal Styles */

html {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  background-color: white;
}

body {
  line-height: 1.4;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* Header */

header {
  height: 30rem;
  padding-top: 1rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

nav ul {
  margin-right: 1rem;
}

nav li {
  display: inline;
  padding: 0 1rem;
}
.menu-small {
  display:none;
}

header .flex {
  justify-content: flex-end;
}

.banner {
  display: inline-block;
  margin-top: 10rem;
  margin-right: -2rem;
  background-color: white;
  padding: 1.5rem 5rem;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

@media only screen and (max-width: 1024px) {
  header {
    height: 22rem;
    padding-top: 0rem;
    width:100%;
  }
.container {
    width: 100%;
  }
  .banner {
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;

  }
  .banner h1 {
    font-size: 1.33rem;
  }

}

@media only screen and (max-width: 600px) {
  header h2 {
    display: none;
  }
  .menu ul {
    display:none;
  }
  .menu ul.menu-small {
    display: block;
  }
  header {
    height: 17rem;
    background-position: 20%;
  }
  .banner {
    width: 100%;
    margin: 9rem auto 0 auto;
    padding-top:1rem;
    padding-bottom: 1rem;
    text-align: center;

  }
  .banner h1 {
    font-size: 1rem;
  }
}

/* Features */

.middle-container {
  display: flex;
  justify-content: center;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  margin: 3rem 3rem;
  text-align:center;
}

.feature img {
  width: 5rem;
  margin-bottom: 1rem;
}

.feature img .paper-icon {
  width: 3.5rem;
}
.info {
  width: 35%;
  margin-bottom: 5rem;
  margin-right: 5%;
  margin-top: 3rem;
}

.detail {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 10rem;
  margin-bottom:1rem;
  color: white;
}
p {
  font-family: Helvetica;
  font-size: 1rem;
  color:black;
  text-align: left;

}
@media only screen and (max-width: 600px) {
  .middle-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;

  }

.feature  {
  height: auto;
  padding: 1rem;
    font-size: 0.77rem;
    margin: 1rem;
  }

.info {
  width: 100%;

}
.detail {
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 2rem;
    text-align: center;
    max-width: none;
}
.detail p {
  padding: 1rem;
  font-size: 0.77rem;
}
}


footer {
display: flex;
  background-color: azure;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;

}
 footer img {
   height: 1.5rem;
   margin-right: 1rem;
 }

 @media only screen and (max-width: 600px) {

   footer {
     justify-content: center;
   }

   footer div {
     display: none;
   }
 }
