/* Universal styles */

html {
  font-family: 'Nunito', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

body {
  display: block;
  line-height: 1.2;
}

/* Header */

header {
  display: flex;
  width: 100%;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #4cb5f5;
}

.colmar{
  font-family: 'Nunito';
  color:white;
}

.academy {
  font-family: 'Nunito';
  color:#b7b8b6;
}

.logo-container {
  display:flex;
  margin:0;
  padding:0;

}

#desktop {

  display: block;
  z-index: 5;
}

#desktop a {
  margin-left: 16px;
text-decoration:none;
color:white;}

#desktop a:hover{
  color:#34675c;
}

/* Banner */
#banner {
display:flex;
padding:32px 24px;
background:white;
width:100%;
}

.banner-holder {
  width:60%;
  height:auto;
}


#banner img {
width: 100%;
height: auto;
}
.learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:32px 24px;

}

.learn h1 {
  font-family: "Nunito", sans-serif;
  width: 80%;
}

button {
  font-family: "Raleway";
  font-size:1rem;
  background-color:#34675c;
  color:white;
  justify-content: center;
  align-items: center;
  padding:.75rem;
width:80%;

}

button:hover{
  background-color:#4cb5f5;

}

.learn h2  {
  width: 80%;
}

/* News and Features*/

#news{
  display:flex;
  margin:0;
  background-color:white;


}

.main-story-holder{

  padding:32px 24px;
display:block;
  height:auto;
  width:60%;


}

.main-story-holder img {
width: 100%;
height: auto;
}

#news h2 {
  margin: 32px 0 24px 0;
}

.supporting-content {
  display: flex;
  flex-direction: column;
  width:40%;
  padding: 2rem 0;
}

.content-image-box {
  display: flex;
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.content-image-box:first-child {
  padding-top:0;
}
.content-image-box:last-child{
  padding-bottom: 0;
  border-bottom: none;
}

.content-image-box.media-container {
  width: 35%;
  margin: .75rem;
}
.content-image-box.text-content {
  display: flex;
  flex-grow: column;
  justify-content: center;
  width:65%;
  padding: 1rem 0.75rem 0 1rem;
}
.content-image-box h4 {
  padding-bottom: .5rem;
  font-size: 1.25rem;
  font-weight: bold;
}
.content-image-box p{
  padding-bottom: .5rem;
margin-left: 1rem;
}
.content-image-box .mobile {
  display: none;

}
/* Programmes */

#programmes {
  position: relative;
      z-index: 10;
      top: 4rem;
      background-color: #4cb5f5;
      padding-bottom: 1.5rem;

}

.programmes-container{
  color: rgb(64,64,64);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 1.5rem;
      line-height: 1.15;
}
.programmes {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.content-image-programme-box{
  width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;
    background-color: white;
}


.media-container-programme{
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
    height: auto;
}
.media-container-programme img {
  width: 100%;
}
.text-content-programme{
  margin: 0;
      padding: 0;

}

.text-content-programme p {
  margin: 0 0 1.5rem 1rem;
}
.programmes-container h1 {
  color: rgb(16,16,16);
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem 0 1.5rem 0;
    width: 100%;
    text-align: center;
    margin: 0;

}

.content-image-programme-box.text-content-programme {
  display: flex;
  flex-grow: column;
  justify-content: center;
}
/* Thesis */
#thesis-exhibit{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.thesis-container{
  width: 100%;
    display: flex;

}
#thesis-exhibit h1 {
  font-family: "Nunito", serif;
    font-size: 2rem;
    padding: 32px 0;
    text-align: center;
}

.thesis-left-column{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.thesis-left-media-container{
  height: auto;
    width: 60%;
    padding-left: 24px;
}

#thesis-exhibit video {
  height: auto;
    width: 100%;
}
.thesis-left-column-text {
  margin: 24px 0 32px 24px;
}

.thesis-right-column {
  min-width: 423px;
    margin-left: 16px;
}
.thesis-right-media-container {
  height: auto;
    width: 100%;
    padding-left: 24px;
}

.thesis-right-column-blue {
  min-height: 168px;
    display: flex;
    align-items: center;
}
.thesis-right-media-container {
  max-width: 35%;
    height: auto;
    margin: 16px;
}
.thesis-right-column-blue img {
  width: 100%;
    height: auto;
}

.thesis-right-column-text {
  display: flex;
    flex-flow: wrap column;
    justify-content: center;
    margin-right: 8px;
}
#thesis h4 {
  margin: 8px 0;
}
#thesis {
  color: rgb(16,16,16);
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem 0 1rem 0;
    width: 100%;
    text-align: center;
}
