/* Universal styles */

html {
  font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

body {
  display: block;
  line-height: 1.2;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 2.2rem;
  width: 80%;
  color:#34675c;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.9rem;
  color:#34675c;

}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
}

h4{
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-size: 1.15rem;
}

p{
  font-family: "Nunito", sans-serif;
font-size: 1.15rem;

}

a {
  font-family: "Nunito", sans-serif;
font-size: 1.15rem;
  text-decoration:none;
}
/* Header */

header {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #b3c100;
}

@media only screen and (min-width: 480px) {
.mobile{
  display:none;
}
.logo-mobile {
  display: none;
}
}
@media only screen and (max-width: 480px) {
  header {
    height: 64px;
  }
.mobile {
  width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-mobile {
  padding: 1rem 1rem 1rem 1rem;

}

.logo-container img {
  display: none;
}
.logo-container {
  display: none;
}
.colmar {
  display: none;
}
.academy {
  display: none;
}
.desktop {
  display: none;
}


}

.colmar{
  font-family: 'Nunito';
  color:white;
}

.academy {
  font-family: 'Nunito';
  color:#4cb5f5;
}

.logo-container {
  display:flex;
  margin-left:24px;
  padding:0;

}

nav {
  display: block;

}

nav a {
  font-family:"Raleway", sans-serif;
  font-size:14px;
  margin-left: 16px;
  margin-right:24px;
text-decoration:none;
color:white;
}

nav a:hover{
  color:#34675c;
}

/* Banner */

#banner {
display:flex;
padding:32px 24px;
background:white;
width:100%;
}

.banner-holder {
  width:60%;
  height:auto;
}


#banner .banner-holder img {
width: 100%;
height: auto;
}
.learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:32px 24px;
  margin-left: 24px;

}

.learn h2 {
  text-align: left;
  width:80%;
}

button {
  font-family: "Raleway";
  font-size:1rem;
  background-color:#34675c;
  color:white;
  justify-content: center;
  align-items: center;
  padding:.75rem;
width:80%;
border:none;


}

button:hover{
  background-color:#4cb5f5;

}

#banner span  {
  width: 80%;
  color:white;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  #banner {
    display: block;
    justify-content: center;
    align-items: center;
    min-width:100%;
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .banner-holder {
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;

  }
  #banner .learn {
    display: flex;
flex-flow: wrap column;
align-items: center;
justify-content: center;
margin: 0px;
padding: 0px;
width: 100%;
  }
  #banner .learn h1 {
  width:100%;
  margin:0px;
  padding:16px 16px;
  text-align: center;
  }
  #banner .learn h2 {
  width:100%;
  margin:0px;
  padding:16px 16px;
  text-align: center;
  width:80%;
  }
.banner-holder img {
  justify-content: center;
  align-items: center;
    margin-top: 0;
    padding: 0;
    height: auto;

  }
.main-story-holder {
  padding: 0;
}
  button {
    align-items: center;
    text-align: center;
  }
}

/* News and Features*/

#news{
  display:flex;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 24px;
  background-color:#b3c100;
}

.main-story-holder{
  padding:32px 24px;
display:flex;
flex-direction: column;
  height:auto;
  width:60%;
}

.main-story-holder img {
width: 100%;
height: auto;
}

#news h2 {
  margin: 32px 0 24px 0;
  color:white;
}

#news h3 {
  color: white;
}

#news h5 {
  color:#34675c;
}

.supporting-content {
  display: flex;
  flex-direction: column;
  width:40%;
  padding: 2rem 0;
}

.supporting-content h3 {
  color: white;
}

#news p, a {
  color: white;
}

#news h5 {
  font-style: italic;
  font-weight: 100;
}

.content-image-box {
  display: flex;
  padding: 1rem 0 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.content-image-box:first-child {
  padding-top:0;
}

.content-image-box:last-child{
  padding-bottom: 0;
  border-bottom: none;
}

.content-image-box.media-container {
  width: 35%;
  margin: .75rem;
}

.content-image-box.text-content {
  display: flex;
  flex-grow: column;
  justify-content: center;
  width:65%;
  padding: 1rem 0.75rem 0 1rem;
}

.content-image-box .mobile {
  display: none;
}

.text-content {
  margin-left:1rem;
  margin-right:1rem;
}

@media only screen and (max-width: 480px) {

  #news .main-story-holder {
    display:none;
  }
.content-image-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
  }

.mobile img {
  min-width: 100%;
    margin: 0;
    padding: 16px;

}
.media-container {
  display: flex;
  justify-content: center;
}
#news .text-content {

  max-width: 7rem;
    padding: 1rem;
}

#news .supporting-content {
display: flex;
flex-flow: wrap column;
align-items: center;
justify-content: center;
margin: 0px;
padding: 0px;
width: 100%;
padding: 0 1rem;
}

#news img {
  width: auto;
  align-items: center;
}

#news h3 {
  width:100%;
}
button {
  align-items: center;
  justify-content: center;
}
}
/* Programmes */

#programmes {
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding-right: 32px;
      padding-left:32px;
      background-color: #4cb5f5;
      padding-bottom: 1.5rem;


}

.programmes-container h2 {
  color: white;
    font-weight: 600;
    padding: 2rem 0 2rem 0;
    width: 100%;
    text-align: center;
    margin: 0;

}


.programmes-container p{
  color:#34675c;
}

#programmes h3 {
  color: #34675c;
}


.programmes-container{

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 2rem;
      line-height: 1.2;
}
.programmes {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.content-image-programme-box{
  width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;
    background-color: white;
}


.media-container-programme{
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
    height: auto;
}
.media-container-programme img {
  width: 100%;
}
.text-content-programme{
  margin: 1rem 1rem;
  padding: 0;
  align-items: center;

}

.content-image-programme-box.text-content-programme {
display: flex;
flex-grow: column;
justify-content: center;
}

@media only screen and (max-width: 480px) {
  #programmes .media-container-programme {
    display: none;
  }
  #programmes p {
    display: none;
  }
  #programmes h3 {
    text-align: center;
  }
  #programmes .text-content-programme h3{
    padding-top: 16px;
    padding-left:16px;
    padding-bottom:24px;
    padding-right:16px;
    align-items: center;
  }
  .content-image-programme-box {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Thesis */

#thesis{
  display:flex;
  margin: 0;
  padding-right: 24px;
  padding-left: 24px;
  background-color:white;
}

.thesis-container h2 {
  color: #34675c;
    font-weight: 600;
    padding: 2rem 0 2rem 0;
    width: 100%;
    text-align: center;
    margin: 0;
}

.main-story-holder{
  padding-right: 24px;
  border:0;
  display:flex;
  flex-direction: column;
  height:auto;
  width:60%;
  border:none;
}

.main-story-holder video {
width: 100%;
height: auto;
border:none;
}

.thesis-container {
  display: flex;
  flex-direction: row;
}


#thesis h5, h3 {
  color: #34675c;
}

.supporting-content {
  display: flex;
  flex-direction: column;
  width:40%;
  padding: 2rem 0;
}

.supporting-content h3 {
  color: #34675c;
}

#thesis p, a {
  color: #34675c;
}

.content-thesis-box {
  display: flex;
  padding: 1rem 0 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.content-thesis-box:first-child {
  background-color:#dddedd;
  color:white;
}

.content-thesis-box:first-child:hover a{
  color: white;
}


.content-thesis-box:last-child{
  padding-bottom: 0;
  border-bottom: none;
}

.content-thesis-box.media-container {
  width: 35%;
  margin: .75rem;
}
.content-thesis-box.thesis-content {
  display: flex;
  flex-grow: column;
  justify-content: left;
  width:65%;
  padding: 1rem 0.75rem 0 1rem;
}

.content-thesis-box .mobile {
  display: none;

}

.thesis-content {
  margin-left:1rem;
  margin-right:1rem;

}
@media only screen and (max-width: 480px) {
  .main-story-holder {
    display: block;
    justify-content: center;
    align-items: center;
    min-width:100%;
    height: auto;
    padding: 0;
    margin:0;

  }

.main-story-holder video {
    width:100%;
    border:none;

  }

  #thesis .content-thesis-box {
    display:none;
  }
  #thesis .media-container img {
    display: none;
  }
  #thesis .main-story-holder h3, p {
    display: none;
  }

#thesis .thesis-content h3, p, a{
      display: none;
    }


}

/*Footer*/



footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4cb5f5;
  padding: 24px 0;
  height:64px;
}
.copyright {
  display:flex;
  padding-left: 2rem;

}

footer nav {
  display: block;
  margin-right: 24px;

}

footer nav a:hover{
  color:#34675c;
}
footer p {
  color:white;
  font-size: 14px;
  font-family:"Raleway", sans-serif;


}

footer nav ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
}

footer nav li {
  float: right;
}

footer nav a {
  font-family:"Raleway", sans-serif;
  font-size:14px;
  text-decoration:none;
  color:white;
}



@media only screen and (max-width: 480px) {
  footer {
    margin-top: 24px;
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  footer ul {
    display: none;
  }

}
