/* Universal styles */

html {
  font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

body {
  display: block;
  line-height: 1.2;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  width: 80%;
  color:#34675c;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  color:#34675c;

}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}

h4{
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-size: .8rem;
}

p{
  font-family: "Nunito", sans-serif;
font-size: .8rem;

}
/* Header */

header {
  display: flex;
  width: 100%;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: #b3c100;
}

.colmar{
  font-family: 'Nunito';
  color:white;
}

.academy {
  font-family: 'Nunito';
  color:#4cb5f5;
}

.logo-container {
  display:flex;
  margin-left:24px;
  padding:0;

}

nav {
  display: block;
  z-index: 10;
}

nav a {
  font-family:"Raleway", sans-serif;
  font-size:12px;
  margin-left: 16px;
  margin-right:24px;
text-decoration:none;
color:white;
}

nav a:hover{
  color:#34675c;
}

/* Banner */

#banner {
display:flex;
padding:32px 24px;
background:white;
width:100%;
}

.banner-holder {
  width:60%;
  height:auto;
}


#banner img {
width: 100%;
height: auto;
}
.learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:32px 24px;
  margin-left: 24px;

}

.learn h2 {
  text-align: left;
  width:80%;
}

button {
  font-family: "Raleway";
  font-size:1rem;
  background-color:#34675c;
  color:white;
  justify-content: center;
  align-items: center;
  padding:.75rem;
width:80%;


}

button:hover{
  background-color:#4cb5f5;

}

#banner span  {
  width: 80%;
  color:white;
  text-align: center;
}


/* News and Features*/

#news{
  display:flex;
  margin:0;
  background-color:#b3c100;
}

.main-story-holder{
  padding:32px 24px;
display:flex;
flex-direction: column;
  height:auto;
  width:60%;


}

.main-story-holder img {
width: 100%;
height: auto;

}

#news h2 {
  margin: 32px 0 24px 0;
  color:white;
}

#news h3, h5 {
  color: white;
}

#ne

.supporting-content {
  display: flex;
  flex-direction: column;
  width:40%;
  padding: 2rem 0;
}

.supporting-content h3 {
  color: white;
}

#news p, a {
  color: white;
  font-size: 0.8rem;

}
#news h5 {
  font-style: italic;
  font-weight: 100;
}

.content-image-box {
  display: flex;
  padding: 1rem 0 1rem 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.content-image-box:first-child {
  padding-top:0;
}
.content-image-box:last-child{
  padding-bottom: 0;
  border-bottom: none;
}

.content-image-box.media-container {
  width: 35%;
  margin: .75rem;
}
.content-image-box.text-content {
  display: flex;
  flex-grow: column;
  justify-content: left;
  width:65%;
  padding: 1rem 0.75rem 0 1rem;
}

.content-image-box .mobile {
  display: none;

}

.text-content {
  margin-left:1rem;
  margin-right:1rem;

}
/* Programmes */

#programmes {
      margin-top: 2rem;
      background-color: #4cb5f5;
      padding-bottom: 1.5rem;

}
#programmes h2 {
  color: 
}
.programmes-container{

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 1.5rem;
      line-height: 1.15;
}
.programmes {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.content-image-programme-box{
  width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 1rem;
    background-color: white;
}


.media-container-programme{
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
    height: auto;
}
.media-container-programme img {
  width: 100%;
}
.text-content-programme{
  margin: 1rem 1rem;
      padding: 0;
      align-items: center;

}


.programmes-container h2 {
  color: white;
    font-weight: 300;
    padding: 2rem 0 1.5rem 0;
    width: 100%;
    text-align: center;
    margin: 0;

}

.content-image-programme-box.text-content-programme {
  display: flex;
  flex-grow: column;
  justify-content: center;
}

/* Thesis */
.exhibition-featured {
  display: flex;
}
.recent-exhibits {
    display: block;
  }
  .exhibition-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 24px;
    margin-bottom: 32px;
  }
  .exhibit-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    max-width: 423px;
    height: 168px;
  }
  .exhibit-card img {
    width: 35%;
    margin-right: 16px;
  }
  .exhibit-info {
    display: flex;
    flex-direction: column;
  }
  .exhibit-card:first-child {
    background: lightgrey;
  }
  .exhibit-vid {
    margin-right: 24px;
    width: 60%;
  }
  .exhibit-vid h3, .exhibit-vid p {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
  }
}

/*Footer*/

footer > nav {
  display: none;
}

footer {
  padding: 32px 0;
}

.copyright {
  margin-left: 24px;
}

@media only screen and (min-width: 400px) {
  footer {
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer nav {
    display: flex;
  }
  footer nav ul {
    display: flex;
    flex-direction: row;
  }
  footer nav ul li:first-child {
    margin-right: 16px;
  }
}
